* {
	padding: 0;
	margin: 0;
}

body{
	background-color: rgb(70, 70, 70);

}

header, footer, main{
	margin: 50px;
}
main{
	width: 400px;
	height: 100%;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	background-color: #660000;
	border: 1px silver solid;
}

section{
	margin: 0px;
}

footer{
	text-align: center;
}
button{
	background-color: silver;
	color: black;
	outline: 1px black solid;
	padding: 5px 10px;
}